
#main-container {
    padding-inline: 8px;
    padding-top: 80px;
}
.assigned-consultants-div {
   display:flex;
   align-items:center;
}
#thirdPartyConsultantSalaryEl .thirdPartyContainer {
    background-color: var(--clr-grayLight);
    margin-top: 10px;
    padding: 5px;
}
    #thirdPartyConsultantSalaryEl .checkbox-cont {
        padding: 5px;
    }
#client-rate-inputs .col-md-6{
    padding-left: 5px;
    padding-right: 5px;
}
.assigned-consultants-div .bi-person-fill {
    font-size: 18px;
    background-color: var(--clr-blueLight);
    margin-right: -7px;
    border-radius: 50%;
    border: solid 2px #fff;
    padding: 0px 4px;
    color: #fff;
}
.more-consultants-span {
    font-size: 14px;
    background-color: rgba(1, 192, 183, 0.1);
    color: var(--clr-blueDark);
    border-radius: 50%;
    border: solid 2px rgba(1, 192, 183, 0.4);
    padding: 2px 6px;
    margin-left: 12px;
    align-items: center;
    display:flex;
    justify-content:left;
    width: fit-content;
}
.tracking-tool-td {
    text-align: center !important;
}
.tracking-tool-td i{
    font-size: 23px;
    margin: 0;
}

/*MODAL CREATE UPDATE*/
.global-modal-content{
    width: 650px !important;
}
#modal-update-create-project #ClientSelect {
    width: 300px;
}
#modal-update-create-project #successManagerIdSelect {
    width: 300px;
}
@media only screen and (max-width: 400px) {
    #modal-update-create-project #ClientSelect {
        width: 100%;
    }
    #modal-update-create-project #successManagerIdSelect {
        width: 100%;
    }
}
.consultantRow {
    display: flex;
    margin-bottom: 5px;
    list-style: none;
    position:relative;
}

#modal-update-create-project .modal-scroll-container {
    margin-top: 5px;
    text-align: left;
    color: #000;
    overflow-y: scroll;
    height: 195px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

@media only screen and (max-width: 770px) {
    #consultants-search-cont {
        width: 100%;
    }
    .global-modal-content {
        width: 95% !important;
    }
}
#form-add-update-consultant .radio-group {
    border: solid 2px var(--clr-grayLight);
    padding: 6px;
}
.consultant-icon {
    color: #2aa7ff; 
    margin-right: 5px;
}