.header-page{
    padding: 10px;
}
.header-page h2 {
    margin:0;
}

.filters-container {
    width: 100%;
    margin-top: -20px;
    background-color: #fff;
    padding: 0 10px 0 10px;
    border-radius: 15px;
    margin-bottom: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

    .filters-container .search-header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: var(--clr-grayLight) solid 2px;
        padding: 5px 10px 5px 10px;
    }

        .filters-container .search-header-container div {
            display: flex;
            align-items: center;
        }

        .filters-container .search-header-container .action-buttons {
            padding-left: 15px;
        }

            .filters-container .search-header-container .action-buttons a {
                border-radius: 25px;
                padding: 5px 15px 5px 15px;
                border: none;
                font-family: 'Montserrat Black';
                background-color: var(--clr-blueDark);
                color: #fff !important;
                text-decoration: none;
                font-size: 13px;
            }

        .filters-container .search-header-container h2 {
            margin: 0 15px 0 0;
        }

        .filters-container .search-header-container .input-container {
            margin-top: 0;
        }

        .filters-container .search-header-container a {
            color: var(--clr-blueDark);
            cursor: pointer;
            text-decoration: underline;
        }

            .filters-container .search-header-container a:hover {
                color: var(--clr-blueLight);
            }

    .filters-container form {
        padding-right: 0;
    }

    .filters-container .principal-buttons {
        padding: 12px 0 8px 0;
    }

        .filters-container .principal-buttons .btn-primary-submit {
            font-size: 12px;
            padding: 6px 15px 6px 15px;
        }

        .filters-container .principal-buttons .cancel-btn {
            font-size: 12px;
            padding: 7px 15px 7px 15px;
        }

    .filters-container .row {
        width: 100%;
    }
.table-header-actions {
    display: flex;
    padding: 4px;
    border: solid 2px rgb(155, 168, 184, 0.5);
    border-start-start-radius: 15px;
    border-start-end-radius: 15px;
    background-color: rgb(231, 234, 239, 0.5);
    position: sticky;
    position: relative;
}

    .table-header-actions .input-container {
        margin: 0;
    }
        .table-header-actions .input-container input {
            background-color: transparent;
            height: 30px;
            width: 100%;
        }
.action-btns-container {
    display: flex;
    position: absolute;
    right: 0;
    transform: translate(-50%, -50%);
    top:50%;
}
.action-btns-container button{
    border: none;
    padding: 0;
    background-color: transparent;
    outline: none;
}
    .action-btns-container button:hover svg {
        color: red;
    }
    /* FILTERS SIDEBAR */
.filters-sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgb(49, 50, 49, 0.9);
    border-start-start-radius: 15px;
    border-end-start-radius: 15px;
    transition: width 0.5s ease;
    padding-top: 30px;
    z-index: 1000;
    overflow-x: hidden;
}

    .filters-sidebar .closebtn {
        position: absolute;
        top: 5px;
        padding: 2px;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 5px;
        font-size: 36px;
        color: #fff;
        background-color: transparent;
        border: none;
    }
    .filters-sidebar .more-filters-title {
        text-align: center;
        width: 100%;
        font-weight: bold;
        font-size: 20px;
        color: #fff;
    }
#more-filters-container {
    color: #fff;
    text-align: left;
    padding: 5px;
    border: solid 1px var(--clr-blueDark);
    margin: 0 6px 7px;
    width: -webkit-fill-available;
    width: -moz-available; /* For Firefox */
    width: fill-available;
    height: -webkit-fill-available;
    height: -moz-available; /* For Firefox */
    height: fill-available;
    position: fixed;
    overflow-y: auto;
    border-radius: 15px;
}
#more-filters-container .select-container {
    display: grid;
    padding: 5px;
    text-align: center;
}
    #more-filters-container .select-container select{
        height: 30px;
        display: flex;
        padding: 0 7px;
    }
/* Table */
table {
    width: 100%;
}

.global-table-container {
    max-height: 62vh;
    overflow: auto;
    position: relative;
    background-color: #fff;
    border: solid 2px rgb(155, 168, 184, 0.5);
    border-end-end-radius: 15px;
    border-end-start-radius: 15px;
}

.no-results {
    text-align: center;
    padding: 20px;
    font-weight: bold;
    color: red;
}

.global-table-container .cel-with-btns-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .global-table-container .cel-with-btns-cont button {
        border: none;
        font-size: 14px;
        color: blue;
        border-radius: 4px;
        background-color: var(--clr-grayLight);
        padding: 0 4px 0 4px;
    }

        .global-table-container .cel-with-btns-cont button:hover {
            background-color: var(--clr-blueDark);
        }

    .global-table-container .cel-with-btns-cont .send-btn-num {
        color: blue;
        cursor: pointer;
    }

        .global-table-container .cel-with-btns-cont .send-btn-num:hover {
            color: var(--clr-dark1);
        }

.global-table-container table {
    width: 100%;
    border-collapse: collapse;
}


.global-table-container th, .global-table-container td {
    padding: 2px 5px 2px 5px;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.global-table-container th {
    /*position: sticky;*/
    top: -2px;
    background-color: rgb(155, 168, 184, 0.5);
    color: var(--clr-dark1);
    z-index: 3;
    text-align: center;
    font-size: 14px;
    padding: 4px 8px 4px 8px;
    border: 1px solid #ccc;
    width: 20%;
}

    .global-table-container th:first-child {
        /*position: sticky;*/
        left: 0;
        z-index: 4;
        background-color: rgb(155, 168, 184, 0.5);
        width: 100px;
    }

.global-table-container td:first-child {
    /*position: sticky;*/
    left: 0;
    z-index: 3;
    
}


.global-table-container tbody th:first-child {
    /*position: sticky;*/
    top: 0;
    z-index: 3;
}


.first-cel{
    font-weight: bold;
}

#payment-sheets-table tr:hover {
    background-color: none; 
}

#payment-sheets-table tr:not([class^="hover-group"]) td:not([rowspan]),
tr[class^="hover-group"]:hover td {
    background-color: rgba(155, 168, 184, 0.2) !important;
}


.edit-table-icon {
    color: blue;
}

.delete-table-icon {
    color: red;
}

.table-icon {
    font-size: 20px;
    cursor: pointer;
    margin: 3px;
}
.refresh-btn {
    border: solid 0.1px rgb(0,0,0,0.2);
    font-weight: bold;
    border-radius: 15px;
    padding: 0px 8px;
    margin: 1.5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
    .refresh-btn i {
        color: #2aa7ff;
    }
/* Table scroll */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey; 
    border-radius: 10px; 
    
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}