nav {
    position: fixed !important;
    z-index: 100 !important;
    width: 100% !important;
    background-color: var(--clr-dark2);
}
.container-fluid{
    padding: 0;
}
.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 1rem;
    --bs-navbar-color: var(--clr-grayLight);
    --bs-navbar-hover-color: var(--clr-blueLight);
    font-weight: bold;
    background-color: #000;
    height: 60px;
}
.icon-container {
    position: relative;
    background-color: #222;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: left;
    overflow: hidden;
    padding: 4px 4px 4px 4px;
}
    .icon-container::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0; 
        width: 70%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9); 
        clip-path: polygon(50% 0, 100% 0, 100% 100%);
    }
.dropdown-menu {
    background-color: #fff;
    width: max-content;
}
.dropdown-menu .nav-link {
    color: var(--clr-yellow) !important;
}

        .dropdown-menu .nav-link:hover {
            color: var(--clr-blueLight) !important;
        }
.nav-item {
    background-color: #222;
    border-radius: 15px;
    margin: 0 2px;
}
@media (max-width: 768px) {
    .navbar {
        height: auto;
    }
    .nav-item {
       margin-top: 5px;
    }
}
.nav-item .nav-link {
    color: var(--clr-blueLight);
    padding: 3px;
}

    .nav-link:hover {
        color: #fff !important;
    }

.navbar-toggler {
    background-color: var(--clr-blueDark);
    margin-right: 8px;
}