nav {
    position: fixed !important;
    z-index: 100 !important;
    width: 100% !important;
    background-color: var(--clr-dark2);
}
.container-fluid{
    padding: 0;
}
.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 1rem;
    --bs-navbar-color: var(--clr-grayLight);
    --bs-navbar-hover-color: var(--clr-blueLight);
    font-weight: bold;
    background-color: var(--clr-dark3);
    height: 60px;
}
.profile-image {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid var(--clr-blueLight);
    background-color: #fff;
}
.icon-container {
    position: relative;
    background-color: rgb(56, 56, 56, 0.6);
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: left;
    overflow: hidden;
    padding: 4px 4px 4px 4px;
}
    .icon-container::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0; 
        width: 70%;
        height: 100%;
        background-color: var(--clr-dark3); 
        clip-path: polygon(50% 0, 100% 0, 100% 100%);
    }
.dropdown-menu {
    background-color: #fff;
    width: max-content;
}
.dropdown-menu .nav-link {
    color: var(--clr-yellow) !important;
}

        .dropdown-menu .nav-link:hover {
            color: var(--clr-blueLight) !important;
        }
.nav-item {
    margin: 0 2px;
}

.nav-link:hover {
    color: var(--clr-blueLight);
}

.dropdown:hover .nav-link {
    color: var(--clr-blueLight);
}
.nav-item img{
    margin-right: 2px;
}
    .nav-item:hover {
        background-color: rgb(56, 56, 56, 0.6);
        border-radius: 15px;
    }
.nav-item-active {
    background-color: rgb(56, 56, 56, 0.6) !important;
    border-radius: 15px !important;
    color: var(--clr-blueLight) !important;
}

@media (max-width: 768px) {
    .navbar {
        height: auto;
    }
    .nav-item {
       margin-top: 5px;
    }
    .dropdown-menu {
        position: absolute !important;
    }
}
@media (max-width: 1230px) {
    .nav-item img{
        display: none;
    }
    .profile-image {
        display: block !important;
    }
}
.nav-item .nav-link {
    padding: 3px;
    transition: color 0.1s ease;
    display:flex;
    align-items:center;
}

.navbar-toggler {
    background-color: rgb(56, 56, 56, 0.6);
    margin-right: 8px;
    height: 30px;
    display:flex;
    align-items:center;
}
.menu-login-cont-web {
    display: block;
}

.menu-login-cont-mobile {
    display: none;
    align-items: center;
}

@media (max-width: 575px) {
    .menu-login-cont-mobile {
        display: flex;
    }
    .menu-login-cont-web {
        display: none;
    }
}