.navegation-box {
    text-align: center;
    font-weight: bold;
    border-radius: 15px;
    background-color: #fff;
    padding: 5px;
    border: solid 0.5px rgb(0,0,0,0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}
    .navegation-box:hover {
        box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
    }
    .navegation-box span {
        padding: 2px 6px;
        border-radius: 15px;
    }
.btn-arrow {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 103px;
    height: 20px;
    padding: 0;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: var(--clr-grayDark);
    font-size: 16px;
    border-radius: 25px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

    .btn-arrow:hover {
        text-decoration: underline;
    }
