.pagination-container{
    text-align: right;
    padding-right: 10px;
    position: relative;
}
.pagination-info {
    font-size: 15px;
    position: absolute;
    left: 10px;
    top:10px;
}
.pagination-size-section{
    font-size: 15px;
    text-align:right;
    position:absolute;
    right:0;
    top:10px;
}
.pagination-size-section select{
    width: 50px;
}
.pagination{
    float: right;
    position:absolute;
    right: 210px;
}
.page-link {
    background-color: var(--clr-blueDark);
    font-size: 13px;
}
    .page-link:hover {
        background-color: var(--clr-blueLight);
    }
.active .page-link {
    background-color: var(--clr-dark3) !important;
}
.disabled .page-link {
    background-color: var(--clr-blueLight) !important;
}