
/*MODAL*/
.global-modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    animation-name: fadeIn;
    animation-duration: 0.1s;
}

.global-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 3% auto;
    padding: 16px;
    border: 1px solid #888;
    width: max-content; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    animation-name: scaleIn;
    animation-duration: 0.2s;
    transform-origin: center;
}
.modal-scroll-container {
    text-align: left;
    color: #000;
    overflow-y: scroll;
    height: 350px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}
/*Inputs*/
#form-create-update .input-container input {
    padding-left: 10px;
}

#form-create-update .custom-select {
    margin-top: 0px;
}

#form-create-update .input-container {
    margin-top: 2px;
}

#form-create-update .checkbox-cont label {
    margin-top: 0px !important;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0.5);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}
@media only screen and (max-width: 400px) {
    .global-modal-content {
        width: 95%;
    }
}

/* Elements */
.btn-delete {
    border: none;
    color: red;
    font-size: 15px;
    background-color: transparent;
    padding-right: 2px;
}

/* MENU FROM 3 DOOTS*/
.menu-options {
    display: none;
    position: absolute;
    background-color: #2c3e50;
    box-shadow: 1px 1px 5px #2c3e50;
}

    .menu-options.show {
        display: block;
    }

.bi-three-dots-vertical {
    cursor: pointer;
}
.menu-options ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    color: #fff;
}

    .menu-options ul li {
        box-shadow: 0px 0px 1px #fff;
        padding: 7px;
        cursor: pointer;
    }
        .menu-options ul li:hover {
            background-color: rgb(198, 198, 200, 0.5 );
        }
        .menu-options ul li .bi-pencil-square {
            color: #2aa7ff;
        }