
/*MODAL*/
.global-modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    animation-name: fadeIn;
    animation-duration: 0.1s;
}

.global-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 3% auto;
    padding: 16px;
    border: 1px solid #888;
    width: max-content;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    animation-name: scaleIn;
    animation-duration: 0.2s;
    transform-origin: center;
    border-radius: 20px;
}
    .global-modal-content .close-btn-container {
        text-align: right;
    }
    .global-modal-content .close-btn-container button{
        font-weight: bold;
        font-size: 22px;
        color: var(--clr-grayDark);
        border: none;
        background-color: transparent;
    }
        .global-modal-content .close-btn-container button:hover {
            color: rgb(232, 180, 180);
        }
    .global-modal-content::before,
    .global-modal-content::after {
        content: '';
        position: absolute;
        background-color: white;
    }
    .global-modal-content::before {
        top: 0;
        left: 0;
        border-top-left-radius: 20px;
    }

    .global-modal-content::after {
        bottom: 0;
        right: 0;
        border-bottom-right-radius: 20px;
    }
    .global-modal-content h2 {
        color: #000;
        border-bottom: solid 3px var(--clr-grayLight);
        padding-bottom: 6px;
        font-weight: 700;
        font-family: 'Roboto', sans-serif;
    }
    .modal-scroll-container {
        text-align: left;
        color: #000;
        overflow-y: scroll;
        height: 350px;
        padding: 5px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
    }
/*Inputs*/
#form-create-update .input-container input {
    padding-left: 10px;
}

#form-create-update .custom-select {
    margin-top: 0px;
}

#form-create-update .input-container {
    margin-top: 2px;
}

#form-create-update .checkbox-cont label {
    margin-top: 0px !important;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0.5);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}
@media only screen and (max-width: 400px) {
    .global-modal-content {
        width: 95%;
    }
}

/* Elements */
.btn-delete {
    border: none;
    color: red;
    font-size: 15px;
    background-color: transparent;
    padding-right: 2px;
}
.required-asterisk{
    color:red;
    font-weight: bold;
    font-size: 20px;

}
/* MENU FROM 3 DOOTS*/
.menu-options {
    display: none;
    position: absolute;
    background-color: #2c3e50;
    box-shadow: 1px 1px 5px #2c3e50;
    z-index: 1000;
}

    .menu-options.show {
        display: block;
    }

.bi-three-dots-vertical {
    cursor: pointer;
}
    .bi-three-dots-vertical:hover {
        background-color: rgb(230, 230, 234);
        border-radius: 10px;
    }
.menu-options ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    color: #fff;
}

    .menu-options ul li {
        box-shadow: 0px 0px 1px #fff;
        padding: 7px;
        cursor: pointer;
    }
        .menu-options ul li:hover {
            background-color: rgb(198, 198, 200, 0.5 );
        }
        .menu-options ul li .bi-pencil-square {
            color: #2aa7ff;
        }

/* TABLE */
.shared-table-td {
    text-align: center !important;
    font-weight: bold;
}

    .shared-table-td i {
        font-size: 23px;
        margin: 0;
    }

/* dropdown with checkboxes */
/* Estilo del dropdown */
.dropdown {
  
}
.position-background {
    padding: 5px;
    background-color: var(--clr-grayLight);
    border-radius: 15px;
    display: flex;
}
.selected-opts-cont {
    width: -webkit-fill-available;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

/* Botón para desplegar el dropdown */
.dropbtn {
    background-color: #2c3e50;
    color: white;
    padding: 4px 12px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    width: max-content;
}
/* Contenido del dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow-y: auto;
    max-height: 200px; /* Ajusta para controlar la altura del scroll */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content input {
    margin: 4px;
}

/* Estilos para las opciones dentro del dropdown */
.dropdown-content div {
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
}

/* Estilo para la barra de desplazamiento (el track) */
.dropdown-content::-webkit-scrollbar {
    width: 5px; /* Ancho de la barra de desplazamiento */
}

/* Estilo para el track de la barra de desplazamiento */
.dropdown-content::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color de fondo del track */
    border-radius: 10px; /* Bordes redondeados para el track */
}

/* Estilo para el thumb de la barra de desplazamiento */
.dropdown-content::-webkit-scrollbar-thumb {
    background: #888; /* Color de fondo del thumb */
    border-radius: 10px; /* Bordes redondeados para el thumb */
}

    /* Estilo para el thumb de la barra de desplazamiento al pasar el mouse */
    .dropdown-content::-webkit-scrollbar-thumb:hover {
        background: #555; /* Color de fondo del thumb al pasar el mouse */
    }

    /* VALIDATION MESSAGES */
.validation-message{
    color: red;
    font-size: 14px;
    display: none;
}
