.new-product-modal .global-modal-content {
    width: 400px;
    min-width: 400px;
}
    .new-product-modal .new-product-modal-title{
        text-align:center;
    }


.modal-body label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.new-product-modal .modal-footer{
    margin-top: 10px;
    display:block;
    text-align: center;
}

.input-validation-message {
    display: none;
    color: red;
    font-size: 0.875rem;
}

@media (max-width: 500px) {
    .new-product-modal .global-modal-content {
        width: 95%;
        min-width: 95%;
    }
}