.title-h1-account{
    text-align:center;
}

/*IDENTITY/ACCOUNT/REGISTER*/

#register-section {
    padding: 0 6% 0 6%;
}
/*SESSION ENDED MESSAGE*/
.session-ended-container{
    text-align: left !important;
    margin: 30px 0px;
    background-color: var(--clr-grayLight);
    padding: 10px;
    border-radius: 10px;
}
.session-ended-container p {
    margin: 12px 0;
}
    .session-ended-container p i {
        font-size: 20px !important;
        color: var(--clr-grayDark) !important;
        margin-right: 5px;
    }