html, body {
    margin: 0;
    height: 100%;
}
body {
    background-image: url(../img/bg-login-oc.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
@media only screen and (max-width: 767px) {
    body {
        background-image: url(../img/bg-login-oc.png);
    }
}

.custom-checkbox{
    margin-top: 5px;
    text-align: center;
}

.form-group{
    text-align: left;
}
.form-control {
    border-radius: 0;
}

.input-short {
    width: 270px !important;
}

/*ENABLE AUTHENTICATOR*/
#qr-Container {
    width: 150px !important;
    height: 150px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
}
#qrCode img{
    width: 120px !important;
}
