html, body {
    margin: 0;
    height: 100%;
}
body {
    background-image: url(../img/background.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
@media only screen and (max-width: 767px) {
    body {
        background-image: url(../img/background-mobile.webp);
    }
}

.custom-box .sub-box {
    background-color: RGB(22, 22, 22, 0.9);
    padding: 40px
}
.custom-checkbox{
    margin-top: 5px;
    text-align: center;
}
.form-group{
    text-align: left;
}
.form-control {
    border-radius: 0;
}
.form-group button {
    border: 1px solid #666;
}
.form-group input {
    background: RGB(22, 22, 22, 0.1);
    color: var(--clr-yellow);
}

.form-group input::placeholder {
    color: var(--clr-yellow);
}

/*ENABLE AUTHENTICATOR*/
#qr-Container {
    width: 150px !important;
    height: 150px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
}
#qrCode img{
    width: 120px !important;
}
