:root {
    /* Colors */
    --clr-dark1: #080b11;
    --clr-dark2: #161616;
    --clr-dark3: #161718;
    --clr-grayLight: #e7eaef;
    --clr-blueDark: #058993;
    --clr-blueLight: #01c0b7;
    --clr-yellow: #eeb30f;
    --clr-grayDark: #9ba8b8;
    --clr-navbar-background: #1d1d1d;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: var(--clr-grayLight);
}
.hide{
    display: none !important;
}
.show {
    display: block;
}

nav {
    position: fixed !important;
    z-index: 100 !important;
    width: 100% !important;
    background-color: var(--clr-dark2);
}
.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 1rem;
    --bs-navbar-color: var(--clr-grayLight);
    --bs-navbar-hover-color: var(--clr-blueLight);
    font-weight: bold;
}
.img-logo {
    width: 160px
}

.cancel-btn {
    border-radius: 25px;
    padding: 12px 20px 12px 20px;
    border: none;
    font-family: 'Montserrat Black';
    background-color: var(--clr-grayDark);
    color: #fff !important;
    text-decoration: none;
}
.btn-primary-submit {
    border-radius: 25px;
    padding: 10px 20px 10px 20px;
    border: none;
    font-family: 'Montserrat Black';
    background-color: var(--clr-yellow);
    color: #fff !important;
    text-decoration: none;
}


.btn-no-background {
    font-weight: bold;
    text-decoration: underline;
    border: none;
}

    .btn-no-background:hover {
        color: var(--clr-grayDark);
    }

    .btn-no-background i {
        text-decoration: underline;
        font-size: 23px;
        color: var(--clr-blueDark);
    }

.btns-cont button {
    width: 49%;
}

.btns-cont a {
    width: 49%;
}

.modal-backdrop {
    z-index: auto;
}

.offcanvas-start {
    left: inherit !important;
    right: 0 !important;
}

.offcanvas.offcanvas-start {
    transform: translateX(0%) !important;
    width: 600px !important;
}

.green-label {
    color: RGB(10, 187, 34) !important;
}

.yellow-label {
    color: RGB(238,179,15);
}

.spinner-page {
    background-color: rgba(1, 192, 183, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
}

.spinner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 300px;
    height: 180px;
    display: flex;
    align-content: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-navbar-background);
    color: #fff;
}

    .spinner-container i {
        color: var(--clr-yellow);
    }

.spinner-border {
    --bs-spinner-width: 2rem;
    --bs-spinner-height: 2rem;
    --bs-spinner-vertical-align: -0.125em;
    --bs-spinner-border-width: 0.25em;
    --bs-spinner-animation-speed: 0.75s;
    --bs-spinner-animation-name: spinner-border;
    border: var(--clr-blueDark) solid 5px;
    border-right-color: transparent;
}

.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip-content {
    position: absolute;
    bottom: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    min-width: 150px;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    z-index: 1000;
}

.tooltip-arrow {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #333 transparent;
}


.tooltip-target:hover ~ .tooltip-content {
    opacity: 1;
}
.tooltip-target {
    color: var(--clr-blueLight);
}
.input-container {
    position: relative;
    margin-top: 10px;
}

    .input-container input {
        padding-left: 35px; /* Ajusta el valor según el ancho de tu imagen de placeholder */
        background-color: #e6edee; /* Cambia el color aquí por el que desees */
        border-radius: 10px;
        color: var(--clr-grayDark);
    }
        .input-container input:not(:placeholder-shown) {
            background-color: #e6edee !important;
        }


.placeholder-image {
    position: absolute;
    top: 50%;
    left: 10px; /* Ajusta el valor para posicionar la imagen correctamente */
    transform: translateY(-50%);
    pointer-events: none; /* Evita que la imagen sea clickeable */
    width: 20px;
}
.custom-box {
    display: flex;
    justify-content: center;
    align-items:center;
}
    .custom-box .sub-box {
        background-color: #fff;
        padding: 60px 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
    }
    .custom-box .sub-box a{
        color: var(--clr-blueLight);
    }
        .custom-box .sub-box h2 {
            font-weight: bold;
            font-size: 30px;
            color: var(--clr-blueLight);
            font-family: 'Montserrat Black';
            letter-spacing: 0.05em; /* Adjust the value as needed */
            margin-bottom: 1px;
        }
    .custom-box .sub-box a {
        margin-bottom: 0 !important;
    }
        .custom-box .sub-box i {
            font-size: 60px;
            color: var(--clr-yellow);
        }
        .custom-box .sub-box p {
            font-size: 18px;
        }
        .custom-box .sub-box .sub-title {
            font-size: 20px;
            color: 212121;
            font-family: 'Montserrat';
            letter-spacing: 0.04em; /* Adjust the value as needed */
        }
        .custom-box .sub-box label {
            color: var(--clr-grayDark);
            margin-bottom: 5px;
        }
.validation-item{
    width: 285px;
}
    .validation-item ul {
        list-style-type: none;
        padding: 0;
    }

    /*SHARED COMPONENTS*/
.background-white {
    background-color: #fff;
    padding: 40px;
    color: var(--clr-grayDark);
    border-radius: 25px;
}
    .light-table{
        width: 100%;
        color: var(--clr-grayDark);
        margin-top: 10px;
    }
h2 {
    font-weight: bold;
    color: var(--clr-blueLight);
    font-family: 'Montserrat Black';
}

.filters-container {
    width: 100%;
}

/* Table */
.table-container {
    width: 100%;
    overflow-x: auto;
}
.table-responsive {
    height: 610px;
}   
table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tbody tr:hover {
    background-color: #f2f2f2;
}
/* Components */

.custom-select {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: 10px;
}

/* Estilos para el select */
.custom-select select {
    padding-left: 35px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 10px;
    outline: none;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    color: var(--clr-grayDark);
    width: 100%;
}

/* Estilos para la flecha en el span */
.custom-select .arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--clr-grayDark);
    position: absolute;
    left: 10px; /* Ajusta este valor para colocar la flecha a la derecha del select */
    top: 50%; /* Centrar verticalmente la flecha */
    transform: translateY(-50%); /* Centrar verticalmente la flecha */
    pointer-events: none;
}

/* Estilos para la línea vertical */
.custom-select::after {
    content: "";
    position: absolute;
    left: 28px; /* Ajusta este valor para colocar la línea al lado derecho del arrow-down */
    top: 50%;
    transform: translateY(-50%);
    width: 1px; /* Ajusta el grosor de la línea vertical */
    height: 25px; /* Ajusta la longitud de la línea vertical */
    background-color: black; /* Cambia "black" al color que desees para la línea */
    background-color: rgb(155, 168, 184, 0.5);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}


/*FOOTER*/
footer {
    position: fixed;
    width: 100%;
    bottom: 22px;
    height: 35px !important;
    color: var(--clr-grayDark);
    display: flex;
    align-items: center;
    font-size: 16px !important;
    padding: 22px;
}


@media only screen and (max-width: 767px) {
    .custom-box .sub-box {
        padding: 40px;

    }
        .custom-box .sub-box h2 {
            font-size: 25px;
        }
    footer {
        bottom: 55px;
        padding: 22px;
        font-size: 14px !important;
    }

}