:root {
    /* Colors */
    --clr-dark1: #080b11;
    --clr-dark2: #161616;
    --clr-dark3: #161718;
    --clr-grayLight: #e7eaef;
    --clr-blueDark: #058993;
    --clr-blueLight: #01c0b7;
    --clr-yellow: #eeb30f;
    --clr-grayDark: #9ba8b8;
    --clr-navbar-background: #1d1d1d;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: var(--clr-grayLight);
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.hide {
    display: none !important;
}

.show {
    display: block;
}

.show-display-contents {
    display: contents;
}

nav {
    position: fixed !important;
    z-index: 100 !important;
    width: 100% !important;
    background-color: var(--clr-dark2);
}

.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 1rem;
    --bs-navbar-color: var(--clr-grayLight);
    --bs-navbar-hover-color: var(--clr-blueLight);
    font-weight: bold;
}

.login-btn{
    background-color: var(--clr-yellow) !important;
}
.img-logo {
    width: 160px
}
.create-btn {
    border-radius: 25px;
    padding: 0px 15px 0px 15px;
    border: none;
    font-family: 'Montserrat Black';
    background-color: var(--clr-grayDark);
    color: #fff !important;
    text-decoration: none;
    display:flex;
    align-items: center;
}
    .create-btn .bi-plus {
        font-size: 30px;
        margin-left: -8px;
    }
.cancel-btn {
    border-radius: 25px;
    padding: 4px 12px;
    border: none;
    font-family: 'Montserrat Black';
    background-color: rgb(232, 180, 180);
    color: #fff !important;
    text-decoration: none;
    cursor: pointer;
}
.blue-btn {
    font-size: 14px;
    background-color: #2c3e50;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}
.blue-btn i{
   font-size: 13px !important;
}
    .blue-btn:hover {
        background-color: rgb(44, 62, 80, 0.8);
        color: var(--clr-grayLight);
    }
.link-btn {
    border: none;
    background-color: var(--clr-grayLight);
    color: var(--clr-blueLight);
    font-size: 20px;
    text-decoration: underline;
}
.link-btn:hover {
    color: var(--clr-grayDark);
}
.btn-primary-submit {
    border-radius: 25px;
    padding: 4px 12px;
    border: none;
    font-family: 'Montserrat Black';
    background-color: var(--clr-blueLight);
    color: #fff !important;
    text-decoration: none;
}


.btn-no-background {
    font-weight: bold;
    text-decoration: underline;
    border: none;
}

    .btn-no-background:hover {
        color: var(--clr-grayDark);
    }

    .btn-no-background i {
        text-decoration: underline;
        font-size: 23px;
        color: var(--clr-blueDark);
    }

.btns-cont button {
    width: 49%;
}

.btns-cont a {
    width: 49%;
}

.modal-backdrop {
    z-index: auto;
}
.modal-scroll-container {
    text-align: left;
    color: #000;
    overflow-y: scroll;
    height: 350px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.offcanvas-start {
    left: inherit !important;
    right: 0 !important;
}

.offcanvas.offcanvas-start {
    transform: translateX(0%) !important;
    width: 600px !important;
}
.strong-label{
    font-weight: 900;
}
.green-label {
    color: RGB(10, 187, 34) !important;
}
.blue-label {
    color: #2196F3 !important;
}

.red-label {
    color: red !important;
}

.yellow-label {
    color: RGB(238,179,15);
}

.spinner-page {
    background-color: rgba(1, 192, 183, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
}

.spinner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 300px;
    height: 180px;
    display: flex;
    align-content: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-navbar-background);
    color: #fff;
}

    .spinner-container i {
        color: var(--clr-yellow);
    }

.spinner-border {
    --bs-spinner-width: 1.3rem;
    --bs-spinner-height: 1.3rem;
    --bs-spinner-vertical-align: -0.125em;
    --bs-spinner-border-width: 0.25em;
    --bs-spinner-animation-speed: 0.75s;
    --bs-spinner-animation-name: spinner-border;
    border: var(--clr-blueDark) solid 5px;
    border-right-color: transparent;
}

.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip-content {
    position: absolute;
    bottom: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    min-width: 150px;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    z-index: 9999;
}



.tooltip-target:hover ~ .tooltip-content {
    opacity: 1;
}

.tooltip {
    position: absolute;
    background-color: #fff;
    color: #000;
    padding: 10px;
    border-radius: 4px;
    border: solid 2px var(--clr-grayDark);
    white-space: nowrap;
    z-index: 9999;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s;
    max-width: 300px;
    word-wrap: break-word; 
    white-space: normal; 
    text-align: justify;
}



.tooltip-target {
    position: relative;
    cursor: pointer;
}
.input-container {
    position: relative;
    margin-top: 10px;
}

    .input-container input {
        padding-left: 35px;
        border-radius: 10px;
        color: var(--clr-grayDark);
    }


.placeholder-image {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none; 
    width: 20px;
}

.custom-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .custom-box .sub-box {
        background-color: #fff;
        padding: 60px 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
    }

        .custom-box .sub-box a {
            color: var(--clr-blueLight);
        }

        .custom-box .sub-box h2 {
            font-weight: bold;
            font-size: 30px;
            color: var(--clr-blueLight);
            font-family: 'Montserrat Black';
            letter-spacing: 0.05em; 
            margin-bottom: 1px;
        }

        .custom-box .sub-box a {
            margin-bottom: 0 !important;
        }

        .custom-box .sub-box i {
            font-size: 60px;
            color: var(--clr-yellow);
        }

        .custom-box .sub-box p {
            font-size: 18px;
        }

        .custom-box .sub-box .sub-title {
            font-size: 20px;
            color: 212121;
            font-family: 'Montserrat';
            letter-spacing: 0.04em;
        }

        .custom-box .sub-box label {
            color: var(--clr-grayDark);
            margin-bottom: 5px;
        }

.validation-item {
    width: 285px;
}

    .validation-item ul {
        list-style-type: none;
        padding: 0;
    }
/* NAV BAR */
.dropdown-menu {
    background-color: var(--clr-grayDark);
    color: #fff !important;
    width: max-content;
}

    .dropdown-menu .nav-link {
        color: #fff !important;
    }

        .dropdown-menu .nav-link:hover {
            color: var(--clr-yellow) !important;
        }

.nav-link {
    color: var(--clr-blueLight) !important;
}

    .nav-link:hover {
        color: #fff !important;
    }

.navbar-toggler {
    background-color: var(--clr-grayDark);
}
/*SHARED COMPONENTS*/

/* Hide arrows for number type input for Chrome, Safari and Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Hide arrows for number type input for Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
#access-denied-cont {
    max-width: 600px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}
#access-denied-cont h1{
    color: #e74c3c;
}
    #access-denied-cont p {
        font-size: 20px;
    }
    #access-denied-cont a {
        display: inline-block;
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #e74c3c;
        color: white;
        text-decoration: none;
        border-radius: 4px;
        transition: background-color 0.3s ease;
    }
        #access-denied-cont a:hover {
            background-color: #c0392b;
        }
.background-white {
    background-color: #fff;
    padding: 25px;
    color: var(--clr-grayDark);
    border-radius: 25px;
}


h2 {
    font-weight: bold;
    color: var(--clr-blueLight);
    font-family: 'Montserrat Black';
}

#more-filters {
    padding-top: 5px;
}

    #more-filters .row {
        align-items: center;
    }

    #more-filters label {
        font-size: 14px;
        font-weight: bold;
    }

    #more-filters select {
        width: 100%;
        font-size: 13.5px;
    }

.filters-container {
    width: 100%;
    margin-top: -20px;
    background-color: #fff;
    padding: 0 10px 0 10px;
    border-radius: 15px;
    margin-bottom: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

    .filters-container .search-header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: var(--clr-grayLight) solid 2px;
        padding: 5px 10px 5px 10px;
    }

        .filters-container .search-header-container div {
            display: flex;
            align-items: center;
        }
        .filters-container .search-header-container .action-buttons{
            padding-left: 15px;
        }
            .filters-container .search-header-container .action-buttons a {
                border-radius: 25px;
                padding: 5px 15px 5px 15px;
                border: none;
                font-family: 'Montserrat Black';
                background-color: var(--clr-blueDark);
                color: #fff !important;
                text-decoration: none;
                font-size: 13px;
            }

        .filters-container .search-header-container h2 {
            margin: 0 15px 0 0;
        }

        .filters-container .search-header-container .input-container {
            margin-top: 0;
        }

        .filters-container .search-header-container a {
            color: var(--clr-blueDark);
            cursor: pointer;
            text-decoration: underline;
        }

            .filters-container .search-header-container a:hover {
                color: var(--clr-blueLight);
            }

    .filters-container form {
        padding-right: 0;
    }

    .filters-container .principal-buttons {
        padding: 12px 0 8px 0;
    }

        .filters-container .principal-buttons .btn-primary-submit {
            font-size: 12px;
            padding: 6px 15px 6px 15px;
        }

        .filters-container .principal-buttons .cancel-btn {
            font-size: 12px;
            padding: 7px 15px 7px 15px;
        }

    .filters-container .row {
        width: 100%;
    }

.radio-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radio-group {
    flex-direction: row;
    gap: 20px;
}

.radio-custom {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #2196F3; 
    background-color: #FFF;
}

.radio-input:checked ~ .radio-custom::after {
    content: "";
    position: absolute;
    top: 2.3px;
    left: 2.5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #2196F3; 
}


.radio-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    width: fit-content;
}
    .radio-label:hover .radio-custom {
        border-color: #64B5F6; 
    }



/* Components */
.custom-select {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: 10px;
}

    .custom-select select {
        padding-left: 35px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: #ffffff;
        border: 1px solid #ced4da;
        border-radius: 10px;
        outline: none;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
        color: var(--clr-grayDark);
        width: 100%;
    }

    .custom-select .arrow-down {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid var(--clr-grayDark);
        position: absolute;
        left: 10px; 
        top: 50%; 
        transform: translateY(-50%); 
        pointer-events: none;
    }

    .custom-select::after {
        content: "";
        position: absolute;
        left: 28px; 
        top: 50%;
        transform: translateY(-50%);
        width: 1px; 
        height: 25px; 
        background-color: black; 
        background-color: rgb(155, 168, 184, 0.5);
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    }

    /* GLOBAL ICONS */
.global-icon{
    width: 22px;
}
/*FOOTER*/
footer {
    position: fixed;
    width: 100%;
    bottom: 22px;
    height: 35px !important;
    color: var(--clr-grayDark);
    display: flex;
    align-items: center;
    font-size: 16px !important;
    padding: 22px;
}


@media only screen and (max-width: 767px) {
    .custom-box .sub-box {
        padding: 40px;
    }

        .custom-box .sub-box h2 {
            font-size: 25px;
        }

    footer {
        bottom: 55px;
        padding: 22px;
        font-size: 14px !important;
    }
}

@media only screen and (max-width: 400px) {
    .global-table-container .table-col-big {
        width: 150px;
    }
}
