/* Main Container */
.global-toggle-container {
    position: relative;
    background-color: #ddd;
    border-radius: 40px;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    margin: 15px 0;
    width: auto;
    padding: 3px;
}

/* Toggle Options */
.global-toggle-option {
    text-align: center;
    font-weight: 700;
    color: #888;
    z-index: 2;
    transition: color 0.3s, font-size 0.3s;
    user-select: none;
    padding: 5px 20px;
    white-space: nowrap;
    position: relative;
    flex-shrink: 0;
}

    /* Active Option */
    .global-toggle-option.active {
        color: #fff !important;
    }

/* Slider */
.global-toggle-slider {
    position: absolute;
    top: 3px;
    background-color: #333;
    border-radius: 40px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
    z-index: 1;
    height: 34px;
    min-width: 50px;
    width: auto;
}
