.red-text {
    color: red
}
.calcu-icon {
    font-size: 60px;
    color: var(--clr-grayDark);
}

/* Toogle */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;
    }

input:checked + .slider {
    background-color: #2196F3;
}

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
/* End toogle */
h4{
    font-weight: bold;
}

.rb-container {
    text-align: left;
}

.green-cell {
    color: RGB(10, 187, 34)
}

.yellow-cell {
    color: RGB(238,179,15);
    font-weight: bold;
}

.table-header {
    background-color: var(--clr-grayLight);
    color: RGB(5,137,147)
}
.Manager-container{
    text-align: end;
    font-weight: bold;  
}
.form-custom-label {
    font-weight: bold;
    margin: 10px 0 0 0; 
}
.checkboxes-box {
        text-align: left;
    }
    .checkboxes-box p {
        color: var(--clr-blueLight);
        margin-bottom: 0;
        margin-top: 43px;
    }
    .checkboxes-box span {
        color: #b3b9ba;
    }


.box-border-right {
    border-right: 2px solid var(--clr-grayLight);
}
#calculatorForm hr {
    color: var(--clr-grayDark);
}
    #calculatorForm h2 {
        font-weight: bold;
        color: var(--clr-blueLight);
        font-family: 'Montserrat Black';
        margin: 0;
    }
    #calculatorForm h6 {
        font-weight: bold;
        color: var(--clr-blueLight);
        font-family: 'Montserrat Black';
        margin: 0 0 0 38px;
    }
.calculator-title{
    display:flex;
    align-items:center;
}
.calculator-title img {
    width: 50px;
    align-content:center;
}
#calculatorForm label {
    color: var(--clr-grayDark);
}
#calculatorForm .title-label {
    color: var(--clr-grayDark);
}


.proposal-img{
    width: 70px;
    height: 70px;
    float: left;
}

.financial-performance{
    color: var(--clr-grayDark);
    margin-left: 20px;
}
.financial-performance p {
   margin: 0 0 2px 38px;
}
.client-proposal{
    color: var(--clr-grayDark);
}
.client-proposal table {
    margin: 0 0 0 15px;
    width: 500px;
}
 .bg-gray {
        background-color: var(--clr-grayLight);
    }

/* WARNING MESSAGE MODAL */
#warning-message {
    background-color: rgba(155, 168, 184, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.warning-message-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 80%;
    height: 70%;
    display: flex;
    align-content: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #fff;
}
    .warning-message-container::-webkit-scrollbar {
        width: 0.5em; /* Ancho de la barra de desplazamiento, ajusta según tus necesidades */
    }

    .warning-message-container::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0); /* Color del "pulggar" de la barra de desplazamiento */
    }

#warning-message-cont {
    background-color: #fff;
    color: var(--clr-grayDark);
    padding: 20px;
    font-size: 20px;
}
#warning-message-cont p {
   font-weight: bold;
}

    #warning-message-cont .bi-exclamation-triangle-fill {
        font-size: 50px;
        color: red;
    }
    #warning-message-cont .body-mess-cont ul {
        list-style-type: none;
        text-align: left;
    }
        #warning-message-cont .body-mess-cont ul i{
            font-size: 30px;
        }
        #warning-message-cont .body-mess-cont ul .bi-check-lg {
            color: #31C307;
        }
        #warning-message-cont .body-mess-cont ul .bi-info-lg {
            color: var(--clr-blueDark);
        }
        #warning-message-cont .body-mess-cont ul .bi-exclamation-triangle {
            color: var(--clr-yellow);
        }

        /* BATERY ITEM */

.battery {
    width: 45px;
    position: relative;
    transform: rotate(90deg);
}
    .battery::before {
        content: "";
        position: absolute;
        top: -12px;
        left: 50%;
        transform: translateX(-50%);
        width: 50%;
        height: 5px;
        background-color: #0bfc08;
        border-radius: 15px;
    }
    .battery.greenActive::before {
        background-color: #0bfc08;
    }
    .battery.yellowActive::before {
        background-color: #f9f104;
    }
    .battery.orangeActive::before {
        background-color: #f5a707;
    }
.battery-level {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #0bfc08;
    transition: height 0.3s;
    box-sizing: border-box;
}
.battery-border {
    z-index: 3;
    position: absolute;
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
    border: 4px solid #0bfc08;
    border-radius: 5px;
}


    /*GLOBAL CONFIGURATION*/
    #global-configuration label {
        font-weight: bold;
    }
#global-configuration h5 {
    margin-bottom: 25px;
}
#global-configuration .cost-center-container {
    text-align:center;
}
#global-configuration .config-sub-title {
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: var(--clr-blueDark);
}
.bottom-btns {
    position: fixed;
    bottom: 20px;
    width: auto;
    right: 20px;
    z-index: 100;
}
.cost-center-container .form-control {
    display: revert !important;
    width: 70% !important;
    margin-left: 10px !important;
}
clients-profit .col-lg-4 {
    text-align: center;
}
#clients-profit .client-title{
    display: flex;
    align-items:end;
    text-align: center;
    justify-content: center;
}
#clients-profit .row {
    margin-bottom: 5px;
}


@media only screen and (max-width: 992px) {
    .box-border-right {
        border-right: none;
        border-bottom: 2px solid var(--clr-grayLight);
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 1400px) {
    .client-proposal table {
        margin: 0 0 0 15px;
        width: auto;
    }
}

@media only screen and (max-width: 407px) {
    .battery {
        width: 150px;
    }
    .warning-message-container {
        width: 95%;
        height: 95%;
        overflow: scroll;
    }
}

