.red-text {
    color: red
}
.calcu-icon {
    font-size: 60px;
    color: var(--clr-grayDark);
}
.div-calc-simple-user{
    margin-top: -130px;
}

.rb-container {
    text-align: left;
}

.green-cell {
    color: RGB(10, 187, 34)
}

.yellow-cell {
    color: RGB(238,179,15);
    font-weight: bold;
}

.table-header {
    background-color: RGB(29,29,29);
    color: RGB(5,137,147)
}
.Manager-container{
    text-align: end;
    font-weight: bold;  
}
.form-custom-label {
    font-weight: bold;
    margin: 10px 0 0 0; 
}
.checkboxes-box {
        text-align: center;
        display:flex;
    }
    .checkboxes-box span {
        color: #b3b9ba;
    }

#calculatorForm {
    background-color: #fff;
    padding: 40px;
    color: #fff;
    border-radius: 25px;
}
.box-border-right {
    border-right: 2px solid var(--clr-grayLight);
}
#calculatorForm hr {
    color: var(--clr-grayDark);
}
    #calculatorForm h2 {
        font-weight: bold;
        color: var(--clr-blueLight);
        font-family: 'Montserrat Black';
        margin: 0;
    }
    #calculatorForm h6 {
        font-weight: bold;
        color: var(--clr-blueLight);
        font-family: 'Montserrat Black';
        margin: 0 0 0 15px;
    }
.calculator-title{
    display:flex;
    align-items:center;
}
.calculator-title img {
    width: 50px;
    align-content:center;
}
#calculatorForm label {
    color: var(--clr-grayDark);
}
#calculatorForm .title-label {
    color: var(--clr-grayDark);
}
/* Estilos para el contenedor del select personalizado */
/* Estilos para el contenedor del select personalizado */
.custom-select {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: 10px;
}

    /* Estilos para el select */
#calculatorForm .custom-select select {
    padding-left: 35px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 10px;
    outline: none;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    color: var(--clr-grayDark);
    width: 100%;
}

    /* Estilos para la flecha en el span */
    .custom-select .arrow-down {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid var(--clr-grayDark);
        position: absolute;
        left: 10px; /* Ajusta este valor para colocar la flecha a la derecha del select */
        top: 50%; /* Centrar verticalmente la flecha */
        transform: translateY(-50%); /* Centrar verticalmente la flecha */
        pointer-events: none;
    }

    /* Estilos para la línea vertical */
    .custom-select::after {
        content: "";
        position: absolute;
        left: 28px; /* Ajusta este valor para colocar la línea al lado derecho del arrow-down */
        top: 50%;
        transform: translateY(-50%);
        width: 1px; /* Ajusta el grosor de la línea vertical */
        height: 25px; /* Ajusta la longitud de la línea vertical */
        background-color: black; /* Cambia "black" al color que desees para la línea */
        background-color: rgb(155, 168, 184, 0.5);
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    }
.proposal-img{
    width: 70px;
    height: 70px;
    float: left;
}

.financial-performance{
    color: var(--clr-grayDark);
}
.financial-performance p {
   margin: 0 0 2px 15px;
}
.client-proposal{
    color: var(--clr-grayDark);
}
.client-proposal table {
    margin: 0 0 0 15px;
    width: 500px;
}
    .client-proposal table .bg-gray {
        background-color: var(--clr-grayLight);
    }
#warning-message-cont {
    background-color: var(--clr-grayLight);
    padding: 20px;
    margin: 30px 0 30px 0;
    font-size: 20px;
}
#warning-message-cont p {
   font-weight: bold;
}

    #warning-message-cont .bi-exclamation-triangle-fill {
        font-size: 50px;
        color: red;
    }
    #warning-message-cont .body-mess-cont ul {
        list-style-type: none;
        text-align: left;
    }
        #warning-message-cont .body-mess-cont ul i{
            font-size: 30px;
        }
        #warning-message-cont .body-mess-cont ul .bi-check-lg {
            color: #31C307;
        }
        #warning-message-cont .body-mess-cont ul .bi-info-lg {
            color: var(--clr-blueDark);
        }
        #warning-message-cont .body-mess-cont ul .bi-exclamation-triangle {
            color: var(--clr-yellow);
        }

        /* BATERY ITEM */

.battery {
    width: 60px;
    border: 4px solid #0bfc08;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    float: left;
    transform: rotate(90deg);
}
    .battery::before {
        content: "";
        position: absolute;
        top: -5px;
        left: 50%;
        transform: translateX(-50%);
        width: 30%;
        height: 5px;
        background-color: #000;
    }

.battery-level {
    position: absolute;
    bottom: 3px;
    left: 3px;
    width: 88%;
    height: 90%;
    background-color: #0bfc08;
    transition: height 0.3s;
    box-sizing: border-box;
}

.battery-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: bold;
}






    /*GLOBAL CONFIGURATION*/
    #global-configuration label {
        font-weight: bold;
    }
#global-configuration h5 {
    margin-bottom: 25px;
}
#global-configuration .cost-center-container {
    text-align:center;
}
#global-configuration .config-sub-title {
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: var(--clr-blueDark);
}
#global-configuration .bottom-btns {
    position: fixed;
    bottom: 20px;
    width: auto;
    right: 20px;
    z-index: 100;
}
.cost-center-container .form-control {
    display: revert !important;
    width: 70% !important;
    margin-left: 10px !important;
}
clients-profit .col-lg-4 {
    text-align: center;
}
#clients-profit .client-title{
    display: flex;
    align-items:end;
    text-align: center;
    justify-content: center;
}
#clients-profit .row {
    margin-bottom: 5px;
}


@media only screen and (max-width: 992px) {
    .div-calc-simple-user {
        margin-top: 0px;
    }
    .box-border-right {
        border-right: none;
        border-bottom: 2px solid var(--clr-grayLight);
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 1400px) {
    .client-proposal table {
        margin: 0 0 0 15px;
        width: auto;
    }
}
