.navigation-container
{
    display:flex;
    align-items:center;
    margin: 0 5px;
}
.first-cell{
    font-weight: bold;
}
.additional-filters {
    display: flex;
    background-color: var(--clr-grayLight);
    border: solid 2px rgb(155, 168, 184, 0.5);
    padding: 5px;
    justify-content: center;
}
.payment-period-sel {
    margin-left: 5px;
}
.no-actions-div {
    padding: 2px 8px;
    font-weight: bold;
    color: #01bfb7;
}
.action-btns-box button {
    border: none;
    border-radius: 15px;
    padding: 2px 8px;
    margin: 5px 2px;
    font-weight: bold;
    color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
    .action-btns-box button:hover {
        filter: brightness(80%);
    }
.btn-approve {
    background-color: RGB(10, 187, 34);
}
.btn-reject {
    background-color: red;
}
.review-btn {
    background-color: #eeb30f;
}