#main-container {
    padding-inline: 8px;
    padding-top: 80px;
}
.navigation-container
{
    display:flex;
    align-items:center;
    margin: 0 5px;
}
.first-cell{
    font-weight: bold;
}
.additional-filters {
    display: flex;
    background-color: var(--clr-grayLight);
    border: solid 2px rgb(155, 168, 184, 0.5);
    padding: 8px;
    justify-content: center;
    width: 100%;
}
.payment-period-sel {
    margin-left: 5px;
}
.payment-period-sel select {
    height: 30px;
    padding: 2px 6px;
    border: none;
    outline: none;
    border-radius: 15px;
}
.no-actions-div {
    padding: 2px 8px;
    font-weight: bold;
    color: #01bfb7;
}
.status-actions {
    display: flex;
}
.action-btns-box {
    margin: 0 !important;
}
.action-btns-box button {
    border: none;
    border-radius: 15px;
    padding: 2px 8px;
    margin: 5px 2px;
    font-weight: bold;
    color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
    .action-btns-box button:hover {
        filter: brightness(80%);
    }
.btn-approve {
    background-color: RGB(10, 187, 34);
}
.btn-reject {
    background-color: red;
}
.review-btn {
    background-color: #eeb30f;
}
.reject-approvement-btn {
    background-color: #970f15;
}
.remove-for-period-btn {
    background-color: var(--clr-grayDark);
}
.remove-for-period-btn img {
    margin-right: 3px;
}
/* MOBILE */
@media only screen and (max-width: 630px) {
    .additional-filters {
        display: block;
        text-align: center;
        font-size: 13px;
    }

    .navegation-box {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
        .navegation-box .btn-arrow {
            display: flex;
            width: 20px;
            font-size: 18px;
        }
        .navegation-box .btn-arrow span{
           display: none;
        }
    .additional-filters button {
        width: 100%;
    }
    .additional-filters div {
        margin-bottom: 3px;
    }
    .payment-period-sel{
        text-align: left;
    }
}
