.global-modal-content {
    width: 750px !important;
}


@media only screen and (max-width: 700px) {
    .global-modal-content {
        width: 95% !important;
    }
}
#submission-details-container .header-container{
    border-bottom: solid 3px var(--clr-grayLight);
    margin-bottom: 5px;
}
    #submission-details-container .header-container .right-header-div{
        text-align: right;
    }
    #submission-details-container .header-container .total-amount {
        font-weight: bold;
        color: var(--clr-blueLight);
        font-size: 20px;
    }
#submission-details-container div {
   align-content: center;
}
#submission-details-container .header-container i {
    margin-right: 5px;
}
#review-for-approval-modal-title {
    border: none;
    margin-bottom: 0;
}
#modal-review-for-approval .action-btns-box {
    text-align: center;
    margin-top: 25px;
}
.attachments-section {
    display: flex;
    flex-direction: column;
}
    .attachments-section a {
        order: 1;
    }
    .attachments-section img {
        width: 100%;
        margin: 10px;
        order: 2;
    }
    .attachments-section iframe {
        width: 100%;
        height: 500px;
        margin: 10px;
        order: 3;
    }
p {
    margin-bottom: 3px;
}
h4{
    text-align: center;
}
.movement-body .movements-section{
    margin-top: 10px;
}
.movement-body .movements-section .date-reported {
    max-width: 200px;
    min-width: 110px;
    font-weight: 900;
}
.movement-body .movements-section .time-reported {
    background-color: var(--clr-grayLight);
    padding: 1px;
    border-radius: 15px;
    width: 75px;
    text-align: center;
}
    .movement-body .movements-section .time-reported-holiday {
        background-color: rgb(26, 174, 5, 0.5);
        padding: 1px;
        color: #fff;
        border-radius: 15px;
        width: 164px;
        text-align: center;
    }
.movement-body .movements-section .hours-minutes {
 color: var(--clr-blueLight);  
 margin-left: 7px;
}
    .movement-body .movements-section .non-payable {
        background-color: rgb(232, 180, 180);
    }
.movement-body .movements-section .hours-minutes i {
    color: gray;
    font-size: 14px;
}
.movement-body .movements-section .notes-reported i {
 margin-left: 8px
}
.movement-body .total-label{
    margin-top: 10px;
    text-align: center;
}
.movement-body ul {
    list-style-type: none;
    padding: 0;
}
.movement-body ul li {
    padding: 3px;
}
.movement-body textarea {
   width: 100%;
}
/* Approve - Reject Confirmation Modal */
#modal-approve-reject-submission .action-btns-box {
    text-align: center;
    margin-top: 25px;
}
#body-container {
    text-align:center;
    padding: 20px;
}
    #body-container p {
        font-size: 20px;
    }
    #body-container textarea {
        width: 100%;
        margin-top: 20px;
        height: 100px;
    }
#val-mess-message{
    color: red;
    font-size: 17px;
    display: none;
}