.general-ca-section .card{
    max-height: fit-content;
}
#SuccessManagersCont .no-project-lb {
    border-bottom: solid 2px rgb(1, 192, 183, 0.2);
    border-radius: 10px;
    padding-bottom: 8px;
    color: var(--clr-grayDark);
    font-weight: bold;
    text-align: center;
}
.subtitles {
    font-weight: 900;
    margin-bottom: 10px;
    text-decoration: underline;
    text-decoration-color: rgb(1, 192, 183);
    font-size: 1.2rem;
}
    .row-el{
        margin-bottom: 15px;
    }
        .row-el .determ-name {
            font-weight: bold;
            font-style:italic;
            font-size: 0.9rem;

        }
.person-cont {
    display: flex;
    align-items: center;
    border-bottom: solid 2px rgb(1, 192, 183, 0.2);
    border-radius: 10px;
    padding-bottom: 8px;
}
.person-cont .media-cont {
    display: grid;
    width: fit-content;
}
    .person-cont .profile-img-cont {
        margin:5px;
        flex-shrink: 0;
        border-radius: 50%;
        border: 3px solid #ffffff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), inset 0 0 5px rgba(255, 255, 255, 0.5);
    }
                .person-cont .profile-img-cont img {
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            .person-cont label {
                font-weight: bold;
                font-size: 1.1rem;
                color: var(--clr-blueLight);
            }
    .person-cont .person-description p{
        font-weight: normal;
        text-align:left;
        margin:0;
        color: var(--clr-grayDark);
    }
#HolidaysCont{
    width:100%;
}
#HolidaysCont .card-title{
    margin-bottom: 15px;
}
    #HolidaysCont .row-el {
        margin:0;
    }
    #HolidaysCont .holiday-row {
        display: flex;
        justify-content: space-between;
        border-bottom: solid 2px var(--clr-grayLight);
        padding: 4px 0 0 0;
    }
        #HolidaysCont .holiday-row .h-name{
            color: var(--clr-grayDark);
            font-weight: bold;
            font-style: italic;
        }
        #HolidaysCont .holiday-row .h-date {
            font-weight: normal;
        }