#OceansChallenge-cont label {
    font-weight: bold;
    width: 100%;
    margin-bottom: 2px;
    font-size: 1.1rem;
    border-bottom: solid 2px rgb(1, 192, 183, 0.2);
}
#OceansChallenge-title {
    display: flex;
    align-items: end;
}

    #OceansChallenge-title img {
        margin-right: 5px;
    }