<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Redirection in PRODUCTION -->
        <rule name="Redirect to custom domain - Production" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <!-- Detect old production domain -->
            <add input="{HTTP_HOST}" pattern="oceansapp.azurewebsites.net" />
          </conditions>
          <action type="Redirect" url="https://www.ripple.oceanscode.com/{R:1}" redirectType="Permanent" />
        </rule>

        <!-- Redirection in DEMO -->
        <rule name="Redirect to custom domain - Demo" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <!-- Detect old demo domain -->
            <add input="{HTTP_HOST}" pattern="demo.oceansapp.azurewebsites.net" />
          </conditions>
          <action type="Redirect" url="https://demo.oceansapp.azurewebsites.net/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <staticContent>
      <!-- Configure cache for static files -->
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="200.00:00:00" />
    </staticContent>
  </system.webServer>
</configuration>