.global-search-container {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.search-input-container {
    display: flex;
    align-items: center;
}

    .search-input-container .filter-toggle-container {
        display: flex;
    }

        .search-input-container .filter-toggle-container input {
            cursor: pointer;
        }

        .search-input-container .filter-toggle-container label {
            width: max-content;
            margin-left: 3px;
            cursor: pointer;
            padding: 0 10px;
            border-bottom: solid 2px rgb(1, 192, 183, 0.2);
            border-radius: 10px;
        }


.global-search-input {
    width: 100%;
    padding: 7px 10px;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 30px;
    outline: none;
    transition: border-color 0.3s;
    z-index: 2;
}

    .global-search-input:focus {
        border-color: #555;
    }

.global-search-results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--clr-grayLight);
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    z-index: 1000;
    max-height: 300px;
    overflow-y: auto;
    display: none;
    margin-top: 0px;
    border: groove;
}

    .global-search-results .entity-result {
        padding: 10px 15px;
        cursor: pointer;
        transition: background-color 0.2s;
    }

        .global-search-results .entity-result:hover,
        .global-search-results .entity-result.active {
            background-color: var(--clr-grayDark);
            color: #fff;
        }

.no-results {
    padding: 15px;
    text-align: center;
    color: red;
    font-weight: 700;
    border-top: 1px solid #f0f0f0;
}

.selected-entity-display {
    margin-top: 10px;
    font-weight: 700;
    font-size: 1rem;
    color: var(--clr-blueDark);
    background-color: var(--clr-grayLight);
    border: none;
    display: none;
    width: 100%;
    padding: 4px 10px;
    border-radius: 30px;
}

.entity-status-active {
    color: var(--clr-blueLight);
    font-weight: 700;
    margin-left: 5px;
}

.entity-status-inactive {
    color: red;
    font-weight: 700;
    margin-left: 5px;
}

@media (max-width: 560px) {
    .search-input-container {
        display: block;
    }

    .filter-toggle-container label {
        margin-left: -3px;
        margin-top: 5px;
    }
}
