.status-img {
    margin-right: 3px;
}
.cel-status{
    font-weight: bold;
    display: flex;
    align-items:center;
}
.rejected-label {
    color: #970f15;
}
.approved-label{
    color: #01bfb7;
}
.sending-to-paid-label{
    color: #058993;
}
.blueLight-lable {
    color: #2aa7ff;
}
.waiting-label {
    color: #eeb30f;
}

.paid-label {
    color: #232323;
}

.accounted-label {
    color: #9ba8b8;
}
.done-label{
    color: #a5d92c;
}
.pending-label{
    color: #d70b00;
}
.pending-review-label {
    color: var(--clr-blueLight);
}