#rmt-background {
    background-color: #FFFAF0;
    padding: 10px;
    margin: 10px;
    margin-top: -14px;
}
/* HEADER */
    #rmt-background #header {
        display: none;
        justify-content: right;
    }
#proj-drop-cont{
    display:flex;
}
#project-name{
    font-weight: bold;
}

#rmt-background #header .dropdown {
    position: relative;
    width: 30px;
    display: flex;
    justify-content: right;
}

#rmt-background #header .dropdown-header {
    cursor: pointer;
    width: 40px;
    display: flex;
    justify-content: right;
}

#rmt-background #header .dropdown-list {
    position: absolute;
    top: 30px;
    left: -200px;
    width: 230px;
    overflow: visible;
    z-index: 10;
    padding: 0;
    margin: 0;
    background-color: #ccc;
    display: none;
    max-height: fit-content;
    color: #000;
}

    #rmt-background #header .dropdown-list li {
        padding: 10px;
        cursor: pointer;
        list-style-type: none;
    }

        #rmt-background #header .dropdown-list li:hover {
            background-color: #fff;
        }

#rmt-background #header .spinner-cont {
    display: flex;
    justify-content: center;
}

#rmt-background #header .circle {
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    background-color: #2aa7ff;
    color: white;
    text-align: center;
}
.circle-li {
    margin-right: 5px;
}
#rmt-background #header .dropdown-selected {
    display: flex;
    align-items: center;
    justify-content: right;
}
.navegation-box {
    text-align: center;
    font-weight: bold;
}
.btn-arrow {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 103px;
    height: 20px;
    padding: 0;
    border: none;
    cursor: pointer;
    color: var(--clr-blueDark);
    font-size: 16px;
    border-radius: 25px;
    font-weight: bold;
}
.btn-arrow:hover {
    text-decoration: underline;
}


/*SHARED ELEMENTS*/
#rmt-background .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: transparent;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
#loading-box{
    display:flex;
    justify-content:center;

}
    #loading-box > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80vh; 
    }
#error-Message-box {
    display: none;
    justify-content: center;
}
    #error-Message-box .bi-exclamation-triangle-fill {
        color:red;
        font-size: 45px;
    }

    #error-Message-box > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        height: 80vh;
    }
#no-projects-box {
    display: none;
    justify-content: center;
}
    #no-projects-box i {
        font-weight: bold;
        font-size: 30px;
        color: var(--clr-yellow);
    }
    #no-projects-box > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }
    #no-projects-box .background-cont {
        background-color: var(--clr-blueDark);
        padding: 25px;
        color: #fff;
        margin-top: -200px;
        text-align: center;
        box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.6);
    }
    #no-projects-box > div > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /* BODE CONTENT */
#content-box{
    display:none;
    padding-bottom: 30px;
}
#questions {
    text-align: center;
    background-color: var(--clr-grayLight);
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}
.track-col {
    border-radius: 15px;
    padding: 15px;
    margin: 0px;
    background-color: var(--clr-grayLight);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    margin-top: 24px;
}

/* SUBMIT REPORT */
.submit-report{
    text-align: center;
    font-weight: bold;
    margin-left: 15px;
}
    .submit-report button {
        border: none;
        margin-top: 8px;
        padding: 7px 12px;
        background-color: var(--clr-yellow);
        border-radius: 15px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    }
.swal2-actions {
    display: flex;
    flex-direction: row-reverse; 
}
.swal2-custom-icon {
    color: red;
    font-size: 25px;
    border: none;
}

