#notesInput{
    width: 100%;
}
.saving-icon {
    animation: spin 1.5s linear infinite;
    margin: 5px;
}
.file-upload-container {
    display: block;
    justify-content: center;
    margin:4px;
}
.preview-files-section{
    margin-top: 8px;
    justify-content:center;
    display: none;
}
    .preview-files-section button {
        border: solid 1px rgb(0, 0, 0, 0.5);
        border-radius: 15px;
        padding: 1px 10px;
        transition: background-color 0.3s ease, transform 0.2s ease;
        font-size: 14px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        line-height: 1.5;
    }
        .preview-files-section button:hover {
            background-color: var(--clr-grayLight);
            transform: scale(1.05);
        }
    .preview-files-section button svg {
        margin-right: 5px;
    }
.row-selected-file {
    display: flex;
    border-bottom: solid 0.5px rgb(5,5,5,0.2);
    align-items: center;
}
    .row-selected-file > a:first-child {
        flex-grow: 1; 
        flex-shrink: 1; 
        overflow: hidden; 
        text-overflow: ellipsis;
        white-space: nowrap; 
    }

.span-status {
    order: 2; 
    flex-grow: 0; 
    flex-shrink: 0; 
}
.row-selected-file a {
    text-align: left;
    color: #666;
}
.row-selected-file a:hover {
    color: var(--clr-blueLight);
}
.delete-btn {
    border: none;
    background-color: transparent;
    color: red;
    order: -1;
    margin-right: 10px;
}
.spinner-label {
    order: -1;
    margin-right: 10px;
}
.upload-files-inputs-container{
    display: flex;
}
.file-upload-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 15px;
    border: 3px dashed var(--clr-blueLight);
    border-radius: 5px;
    transition: border .3s ease;
    align-content: center;
    align-items: center;
    min-height: 225px;
    max-height: 225px;
}
    .file-upload-wrapper.dragover {
        border-color: #007B55;
        background-color: #f0f0f0;
    }

    .file-upload-wrapper:hover {
        border-color: var(--clr-grayDark);
    }

.file-upload-label {
    display: inline-block;
    padding: 10px;
    background-color: var(--clr-blueLight);
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .3s;
    font-weight: bold;
    font-size: 0.9rem;
}

    .file-upload-label:hover {
        opacity: 0.7;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    }
.file-upload-instructions {
    margin-top: 10px;
    font-size: 16px;
    color: #555;
    text-align: center;
    padding: 2px 40px;
}

.file-upload-name {
    margin-top: 10px;
    font-size: 0.9em;
    font-weight: bold;
    color: #666;
}
.uploaded-files-section{
    padding:5px;
    text-align:center;
    overflow-y: scroll;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
    .uploaded-files-section::-webkit-scrollbar {
        width: 5px; 
        border-radius: 15px;
    }

    .uploaded-files-section::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    .uploaded-files-section::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 15px;
    }

        .uploaded-files-section::-webkit-scrollbar-thumb:hover {
            background: #555; 
        }

.fa {
    margin-right: 8px;
}
.save-report-cont{
    text-align: center;
    margin-top: 10px
}
    .save-report-cont button {
        border: none;
        margin-top: 8px;
        padding: 7px 12px;
        background-color: var(--clr-blueLight);
        border-radius: 15px;
        color: #fff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
        font-weight: bold;
        width: 100%;
        display: none;
    }
    .save-report-cont #save-btn i {
        margin:5px;
    }
#holidaysContainer{
    text-align: center;
}
    #holidaysContainer .holiday-Item {
        background-color: rgb(26, 174, 5, 0.4);
        padding: 2px 10px;
        border-radius: 15px;
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        margin-bottom: 8px;
        width: fit-content;
        margin: 3px;
        cursor: pointer;
    }
    #holidaysContainer i {
        margin-left: 5px;
    }
    #holidaysContainer .holiday-name{
        display: block;
        text-decoration: underline;
        font-weight: normal; 
    }
    .tooltip-target {
        color: rgb(7, 8, 8, 0.6);
    }
.report-input-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
    .report-input-cont .fields-backg {
        justify-content: center;
        align-items: center;
        background-color: rgb(155, 168, 184, 0.2);
        padding: 10px;
        width: 100%;
        display: flex;
        border-radius: 5px;
        margin-bottom: 8px;
    }
        .report-input-cont .fields-backg label {
            color: rgb(7, 8, 8, 0.6);
        }
    .report-input-cont .form-select{
        font-size: 15px;
    }
    .report-input-cont .input-time {
        width: 100%;
    }
        .report-input-cont .input-time:focus {
            border-color: #969fa8;
            outline: 0;
            box-shadow: 0 0 0 0.25rem rgba(44, 62, 80, 0.25);
        }
    .report-input-cont label {
        color: var(--clr-grayDark);
        font-weight: bold;
    }
    .report-input-cont input {
        background-color: #fff;
        padding: 0.400rem;
        border: 1px solid #ced4da;
        border-radius: 0.375rem;
    }
    .report-input-cont textarea {
        height: 80px;
    }
        .report-input-cont input:focus {
            border-color: #969fa8;
            outline: 0;
            box-shadow: 0 0 0 0.25rem rgba(44, 62, 80, 0.25);
        }
.span-status{
    display: flex;
    align-items: center;
}
.reupload-label{
    color: red;
    cursor: pointer;
}
    .reupload-label:hover i {
        color: gray;
    }
    .reupload-label i {
        color: #2aa7ff;
        margin:5px;
    }
.uploaded-check-icon {
    margin-left: 8px;
    font-size: 18px;
}

@media only screen and (max-width: 768px) {
    .report-input-cont .fields-backg {
        margin-top: 8px;
    }
}