.date-list-box {
    display: flex;
    white-space: nowrap;
    height: 300px;
    overflow-x: auto;
    overflow-y: hidden; 
}

.day-item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    align-content: center;
    border-left: 1px solid var(--clr-grayLight);
    border-right: 1px solid var(--clr-grayLight);
}
.day-item-box {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding-bottom: 4px;
    width: 100%;
    text-align: center;
    align-items: center;
    align-content: center;
    flex-direction: column-reverse;
}

.time-label {
    margin-left: 10px;
}
.day-label {
    font-weight: bold;
    background-color: var(--clr-grayLight);
    padding: 10px 15px;
}
    .day-label .highlight {
        color: var(--clr-blueLight);
    }
.btn-add-time {
    border: none;
    background-color: var(--clr-blueLight);
    color: #fff;
    border-radius: 15px;
    font-weight: bold;
    font-size: 13px;
    padding: 1px 7px;
    width: 70px;
    margin-top: 8px
}

.count-day-label {
    font-weight: bold;
    margin-top: 10px;
    border-top: solid 1px var(--clr-grayLight);
    width: 100%;
    position: absolute;
    bottom: 0;
}
.reported-time-span {
    background-color: var(--clr-grayLight);
    padding: 4px 8px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    color: gray;
    padding: 1px 7px;
    margin-top: 8px
}
.edit-time-btn{
    border: none;
    background-color: transparent;
    color: gray;
}

